#sidebar {
  height: 100%;
  min-width: 190px;
  width: 190px;

  display: flex;
  flex-direction: column;

  background: #080808;
  color: #dedede;

  transition: min-width 0.5s, width 0.5s;
}

#sidebar.collapsed {
  min-width: 3rem;
  width: 3rem;
}

#sidebar .brand {
  align-items: center; /* center element vertically */
  display: flex;
  flex: 0 0 3rem; /* cannot grow, cannot shrink, 44px height */
  justify-content: center; /* center element horizontally */

  border-left: 1px solid #111;

  font-size: 1.25rem;
  white-space: nowrap; /* proper animation */
  overflow: hidden; /* proper animation */
}

.sidebar-menu {
  flex: 1 1 auto; /* can shrink, can grow, auto height */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  user-select: none;
}

.sidebar-item-icon {
  display: inline-block;
  margin-left: -1px;

  width: 3rem;

  text-align: center;
}

.sidebar-item-text {
  opacity: inherit;
  transition: opacity 0.5s;
}

#sidebar.collapsed .sidebar-item-text {
  opacity: 0;
}

.sidebar-menu a {
  border-left: 1px solid #333;
  color: #aaa;
  text-decoration: none;

  height: 3rem;
  width: 100%;

  display: block;
  margin-top: 2px;
  overflow: hidden;

  line-height: 3rem;
  white-space: nowrap;

  transition: width 0.5s;

  cursor: pointer;
}

.sidebar-menu a:hover, .sidebar-menu .active {
  border-left: 1px solid #dedede;
  color: #dedede;
  text-decoration: none;
}

.sidebar-menu a:hover {
  background-color: #0d5259;
}

.sidebar-menu .active {
  background-color: #004952;
}
