.panelContainer {
    display: flex;
}

.presetList {
    min-width: 140px;
    list-style: none;
    overflow-y: auto;
    margin: 0;
}

.presetItem {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all 0.3s;
}
