[package]
name = "clp-rust-utils"
version = "0.1.0"
edition = "2024"

[dependencies]
aws-config = "1.8.8"
aws-sdk-s3 = "1.106.0"
aws-sdk-sqs = "1.86.0"
brotli = "8.0.2"
num_enum = "0.7.5"
rmp-serde = "1.3.0"
secrecy = { version = "0.10.3", features = ["serde"] }
serde = { version = "1.0.228", features = ["derive"] }
sqlx = { version = "0.8.6", features = ["runtime-tokio", "mysql"] }
thiserror = "2.0.17"

[dev-dependencies]
hex = "0.4.3"
serde_json = "1.0.145"
