[submodule "components/core/submodules/Catch2"]
	path = components/core/submodules/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "components/core/submodules/date"]
	path = components/core/submodules/date
	url = https://github.com/HowardHinnant/date.git
[submodule "components/core/submodules/json"]
	path = components/core/submodules/json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "components/core/submodules/yaml-cpp"]
	path = components/core/submodules/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "components/core/submodules/log-surgeon"]
	path = components/core/submodules/log-surgeon
	url = https://github.com/y-scope/log-surgeon.git
[submodule "components/core/submodules/boost-outcome"]
	path = components/core/submodules/boost-outcome
	url = https://github.com/boostorg/outcome.git
