.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 1250px;
    gap: 5px;
}

.select {
    grid-column: span 1;
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.where {
    grid-column: span 1;
    display: flex;
    width: 100%;
}

.dataset {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    gap: 0;
}
.limit {
    grid-column: 1 / span 2;
    grid-row: 3;
    display: flex;
    align-items: center;
    gap: 0;
}

.status {
    grid-column: 1;
    grid-row: 5;
    display: flex;
    align-items: center;
}
.buttons {
    grid-column: 2;
    grid-row: 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}
