.search-results-container {
  overflow-y: auto;
  background: white;
}

// NOTE: We use a hierarchical selector to override Bootstrap's hierarchical selector (classes can't override hierarchical selectors without !important)
.search-results thead th {
  border: none;
  padding: 0;
}

.search-results-th {
  position: sticky;
  top: 0;

  &-sortable {
    cursor: pointer;
    user-select: none;
  }
}

.search-results-table-header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #dee2e6;
  padding: 10px;
}

.search-results-content {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.search-results-timestamp {
  white-space: nowrap;
  color: #69707D!important;
}

.search-results-message {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
}

#search-results-load-sensor {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline: 10px;
  padding-bottom: 12px;
  font-size: 1.3rem;
}
