.search-results-container {
  overflow-y: auto;
  background: white;
}

// NOTE: We use a hierarchical selector to override Bootstrap's hierarchical selector (classes can't override hierarchical selectors without !important)
.search-results thead th {
  border: none;
  padding: 0;
}

.search-results-th {
  position: sticky;
  top: 0;

  &-sortable {
    cursor: pointer;
    user-select: none;
  }
}

.search-results-table-header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #dee2e6;
  padding: 10px;
}

.search-results-content {
  font-size: 0.875rem;
  line-height: var(--search-results-message-line-height);

  &-clickable {
    cursor: pointer;
  }
}

.search-results-timestamp {
  color: #69707D !important;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  white-space: nowrap;
}

.search-results-message {
  margin: 0;
  max-height: var(--search-results-message-max-height);

  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  white-space: pre-wrap;
  word-break: break-word;
}

