.timeRangeInputContainer {
    display: inline-flex;
}

.timeRangeInputContainer :global(.ant-select) {
    width: 160px;
}

/* Makes border flush with range picker */
.customSelected :global(.ant-select-selector) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.rangePicker {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 350px;
}
