.label {
    height: 100%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    white-space: nowrap;
}
