nameOverride: ""
fullnameOverride: ""

# Whether to allow scripts in `sbin` access to services on the host.
allowHostAccessForSbinScripts: true

securityContext:
  firstParty:
    uid: 1000
    gid: 1000
  thirdParty:
    uid: 1000
    gid: 1000

image:
  clpPackage:
    repository: "ghcr.io/y-scope/clp/clp-package"
    pullPolicy: "Always"
    tag: "main"

clpConfig:
  package:
    storage_engine: "clp-s"
    query_engine: "clp-s"

  database:
    type: "mariadb"  # "mariadb" or "mysql"
    port: 30306
    name: "clp-db"

  redis:
    query_backend_database: 0
    compression_backend_database: 1

  results_cache:
    port: 30017
    db_name: "clp-query-results"
    stream_collection_name: "stream-files"

  # Location where other data (besides archives) are stored. It will be created if
  # it doesn't exist.
  # NOTE: This directory must not overlap with any path used in CLP's execution container. An error
  # will be raised if so.
  data_directory: "/tmp/clp/var/data"

  # Location where logs are stored. It will be created if it doesn't exist.
  # NOTE: This directory must not overlap with any path used in CLP's execution container. An error
  # will be raised if so.
  logs_directory: "/tmp/clp/var/log"

credentials:
  database:
    username: "clp-user"
    password: "pass"
    root_username: "root"
    root_password: "root-pass"

  queue:
    username: "clp-user"
    password: "pass"

  redis:
    password: "pass"
