nameOverride: ""
fullnameOverride: ""

# Whether to allow scripts in `sbin` access to services on the host.
allowHostAccessForSbinScripts: true

securityContext:
  firstParty:
    uid: 1000
    gid: 1000
  thirdParty:
    uid: 1000
    gid: 1000

image:
  clpPackage:
    repository: "ghcr.io/y-scope/clp/clp-package"
    pullPolicy: "IfNotPresent"
    tag: "nightly"

clpConfig:
  package:
    storage_engine: "clp-s"
    query_engine: "clp-s"

  database:
    type: "mariadb"  # "mariadb" or "mysql"
    host: "localhost"
    port: 30306
    name: "clp-db"

  # Location where other data (besides archives) are stored. It will be created if
  # it doesn't exist.
  # NOTE: This directory must not overlap with any path used in CLP's execution container. An error
  # will be raised if so.
  data_directory: "/tmp/clp/var/data"

  # Location where logs are stored. It will be created if it doesn't exist.
  # NOTE: This directory must not overlap with any path used in CLP's execution container. An error
  # will be raised if so.
  logs_directory: "/tmp/clp/var/log"

credentials:
  # Database credentials
  database:
    username: "clp-user"
    password: "pass"
