@import "./bootstrap-customized";

html {
  font-size: 14px;
  height: 100%;
}

body {
  background-image: linear-gradient(165deg, white 80%, rgba(122, 194, 204, 0.1) 80%),
                    linear-gradient(115deg, white 90%, rgba(122, 194, 204, 0.2) 90%);
  font-family: 'Source Sans 3', sans-serif;
  height: 100%;
}

#page-container {
  flex-grow: 1;

  overflow-y: auto;
}
