apiVersion: "v1"
kind: "ConfigMap"
metadata:
  name: {{ include "clp.fullname" . }}-config
  labels:
    {{- include "clp.labels" . | nindent 4 }}
data:
  clp-config.yaml: |
    {{- if eq .Values.clpConfig.package.storage_engine "clp-s" }}
    api_server:
      default_max_num_query_results: {{
        .Values.clpConfig.api_server.default_max_num_query_results }}
      host: "localhost"
      port: 3001
      query_job_polling:
        initial_backoff_ms: {{ .Values.clpConfig.api_server.query_job_polling.initial_backoff_ms }}
        max_backoff_ms: {{ .Values.clpConfig.api_server.query_job_polling.max_backoff_ms }}
    {{- else }}
    api_server: null
    {{- end }}
    archive_output:
      compression_level: {{ .Values.clpConfig.archive_output.compression_level }}
      retention_period: {{ .Values.clpConfig.archive_output.retention_period }}
      storage:
        {{- if eq .Values.clpConfig.archive_output.storage.type "s3" }}
        type: "s3"
        staging_directory: "/var/data/staged-archives"
        s3_config:
          endpoint_url: {{ .Values.clpConfig.archive_output.storage.s3_config.endpoint_url | default "null" }}
          region_code: {{ .Values.clpConfig.archive_output.storage.s3_config.region_code | quote }}
          bucket: {{ .Values.clpConfig.archive_output.storage.s3_config.bucket | quote }}
          key_prefix: {{ .Values.clpConfig.archive_output.storage.s3_config.key_prefix | quote }}
          aws_authentication:
            type: {{ .Values.clpConfig.archive_output.storage.s3_config.aws_authentication.type | quote }}
            {{- if eq .Values.clpConfig.archive_output.storage.s3_config.aws_authentication.type "credentials" }}
            credentials:
              access_key_id: {{ .Values.clpConfig.archive_output.storage.s3_config.aws_authentication.credentials.access_key_id | quote }}
              secret_access_key: {{ .Values.clpConfig.archive_output.storage.s3_config.aws_authentication.credentials.secret_access_key | quote }}
            {{- end }}
            {{- if eq .Values.clpConfig.archive_output.storage.s3_config.aws_authentication.type "profile" }}
            profile: {{ .Values.clpConfig.archive_output.storage.s3_config.aws_authentication.profile | quote }}
            {{- end }}
        {{- else }}
        type: "fs"
        directory: "/var/data/archives"
        {{- end }}
      target_archive_size: {{ .Values.clpConfig.archive_output.target_archive_size | int }}
      target_dictionaries_size: {{ .Values.clpConfig.archive_output.target_dictionaries_size
        | int }}
      target_encoded_file_size: {{ .Values.clpConfig.archive_output.target_encoded_file_size
        | int }}
      target_segment_size: {{ .Values.clpConfig.archive_output.target_segment_size
        | int }}
    aws_config_directory: {{ .Values.clpConfig.aws_config_directory }}
    compression_scheduler:
      jobs_poll_delay: {{ .Values.clpConfig.compression_scheduler.jobs_poll_delay }}
      logging_level: {{ .Values.clpConfig.compression_scheduler.logging_level | quote }}
      max_concurrent_tasks_per_job: {{
        .Values.clpConfig.compression_scheduler.max_concurrent_tasks_per_job }}
      type: {{ .Values.clpConfig.compression_scheduler.type | quote }}
    compression_worker:
      logging_level: {{ .Values.clpConfig.compression_worker.logging_level | quote }}
    data_directory: "/var/data"
    database:
      auto_commit: false
      compress: true
      host: {{ include "clp.fullname" . }}-database
      names:
        clp: {{ .Values.clpConfig.database.names.clp | quote }}
      port: 3306
      ssl_cert: null
      type: {{ .Values.clpConfig.database.type | quote }}
    garbage_collector:
      logging_level: {{ .Values.clpConfig.garbage_collector.logging_level | quote }}
      sweep_interval:
        archive: {{ .Values.clpConfig.garbage_collector.sweep_interval.archive }}
        search_result: {{ .Values.clpConfig.garbage_collector.sweep_interval.search_result }}
    logs_directory: "/var/log"
    logs_input:
      {{- if eq .Values.clpConfig.logs_input.type "s3" }}
      type: "s3"
      aws_authentication:
        type: {{ .Values.clpConfig.logs_input.aws_authentication.type | quote }}
        {{- if eq .Values.clpConfig.logs_input.aws_authentication.type "credentials" }}
        credentials:
          access_key_id: {{ .Values.clpConfig.logs_input.aws_authentication.credentials.access_key_id | quote }}
          secret_access_key: {{ .Values.clpConfig.logs_input.aws_authentication.credentials.secret_access_key | quote }}
        {{- end }}
        {{- if eq .Values.clpConfig.logs_input.aws_authentication.type "profile" }}
        profile: {{ .Values.clpConfig.logs_input.aws_authentication.profile | quote }}
        {{- end }}
      {{- else }}
      type: "fs"
      directory: "/mnt/logs"
      {{- end }}
    {{- if eq .Values.clpConfig.logs_input.type "s3" }}
    log_ingestor:
      buffer_flush_threshold: {{ .Values.clpConfig.log_ingestor.buffer_flush_threshold }}
      buffer_flush_timeout: {{ .Values.clpConfig.log_ingestor.buffer_flush_timeout }}
      channel_capacity: {{ .Values.clpConfig.log_ingestor.channel_capacity }}
      host: "localhost"
      logging_level: {{ .Values.clpConfig.log_ingestor.logging_level | quote }}
      port: 3002
    {{- end }}
    {{- if .Values.clpConfig.mcp_server }}
    mcp_server:
      host: "localhost"
      logging_level: {{ .Values.clpConfig.mcp_server.logging_level | quote }}
      port: 8000
    {{- else }}
    mcp_server: null
    {{- end }}
    package:
      query_engine: {{ .Values.clpConfig.package.query_engine | quote }}
      storage_engine: {{ .Values.clpConfig.package.storage_engine | quote }}
    presto: {{ .Values.clpConfig.presto }}
    query_scheduler:
      host: {{ include "clp.fullname" . }}-query-scheduler
      jobs_poll_delay: {{ .Values.clpConfig.query_scheduler.jobs_poll_delay }}
      logging_level: {{ .Values.clpConfig.query_scheduler.logging_level | quote }}
      num_archives_to_search_per_sub_job: {{
        .Values.clpConfig.query_scheduler.num_archives_to_search_per_sub_job }}
      port: 7000
    query_worker:
      logging_level: {{ .Values.clpConfig.query_worker.logging_level | quote }}
    queue:
      host: {{ include "clp.fullname" . }}-queue
      port: 5672
    redis:
      compression_backend_database: {{ .Values.clpConfig.redis.compression_backend_database }}
      host: {{ include "clp.fullname" . }}-redis
      port: 6379
      query_backend_database: {{ .Values.clpConfig.redis.query_backend_database }}
    reducer:
      base_port: 14009
      host: {{ include "clp.fullname" . }}-reducer
      logging_level: {{ .Values.clpConfig.reducer.logging_level | quote }}
      upsert_interval: {{ .Values.clpConfig.reducer.upsert_interval }}
    results_cache:
      db_name: {{ .Values.clpConfig.results_cache.db_name | quote }}
      host: {{ include "clp.fullname" . }}-results-cache
      port: 27017
      retention_period: {{ .Values.clpConfig.results_cache.retention_period }}
      stream_collection_name: {{ .Values.clpConfig.results_cache.stream_collection_name | quote }}
    stream_output:
      storage:
        {{- if eq .Values.clpConfig.stream_output.storage.type "s3" }}
        type: "s3"
        staging_directory: "/var/data/staged-streams"
        s3_config:
          endpoint_url: {{ .Values.clpConfig.stream_output.storage.s3_config.endpoint_url | default "null" }}
          region_code: {{ .Values.clpConfig.stream_output.storage.s3_config.region_code | quote }}
          bucket: {{ .Values.clpConfig.stream_output.storage.s3_config.bucket | quote }}
          key_prefix: {{ .Values.clpConfig.stream_output.storage.s3_config.key_prefix | quote }}
          aws_authentication:
            type: {{ .Values.clpConfig.stream_output.storage.s3_config.aws_authentication.type | quote }}
            {{- if eq .Values.clpConfig.stream_output.storage.s3_config.aws_authentication.type "credentials" }}
            credentials:
              access_key_id: {{ .Values.clpConfig.stream_output.storage.s3_config.aws_authentication.credentials.access_key_id | quote }}
              secret_access_key: {{ .Values.clpConfig.stream_output.storage.s3_config.aws_authentication.credentials.secret_access_key | quote }}
            {{- end }}
            {{- if eq .Values.clpConfig.stream_output.storage.s3_config.aws_authentication.type "profile" }}
            profile: {{ .Values.clpConfig.stream_output.storage.s3_config.aws_authentication.profile | quote }}
            {{- end }}
        {{- else }}
        directory: "/var/data/streams"
        type: "fs"
        {{- end }}
      target_uncompressed_size: {{ .Values.clpConfig.stream_output.target_uncompressed_size | int }}
    tmp_directory: "/var/tmp"
    webui:
      host: "localhost"
      port: 4000
      rate_limit: {{ .Values.clpConfig.webui.rate_limit }}
      results_metadata_collection_name: {{ .Values.clpConfig.webui.results_metadata_collection_name
        | quote }}

  mysql-logging.cnf: |
    [mysqld]
    # https://dev.mysql.com/doc/refman/8.0/en/log-destinations.html
    # Enable the general log
    general_log=1
    # Set the destination file
    general_log_file=/var/log/mysql/mysql.log

    # https://dev.mysql.com/doc/refman/8.0/en/error-log-destination-configuration.html
    # Send error logs to file
    log_error=/var/log/mysql/mysql-error.log

  redis.conf: |
    # For full reference of configuration options see
    # https://raw.githubusercontent.com/redis/redis/7.2/redis.conf

    databases 2
    logfile "/var/log/redis/redis.log"

  mongod.conf: |
    replication:
      replSetName: "rs0"
    systemLog:
      destination: file
      path: /var/log/mongodb/mongod.log
      logAppend: true
      timeStampFormat: iso8601-local

  webui-client-settings.json: |
    {
      "ClpStorageEngine": {{ .Values.clpConfig.package.storage_engine | quote }},
      "ClpQueryEngine": {{ .Values.clpConfig.package.query_engine | quote }},
      "LogsInputType": {{ .Values.clpConfig.logs_input.type | quote }},
      {{- if eq .Values.clpConfig.logs_input.type "fs" }}
      "LogsInputRootDir": "/mnt/logs",
      {{- else }}
      "LogsInputRootDir": null,
      {{- end }}
      "MongoDbSearchResultsMetadataCollectionName":
        {{ .Values.clpConfig.webui.results_metadata_collection_name | quote }},
      "SqlDbClpArchivesTableName": "clp_archives",
      "SqlDbClpDatasetsTableName": "clp_datasets",
      "SqlDbClpFilesTableName": "clp_files",
      "SqlDbClpTablePrefix": "clp_",
      "SqlDbCompressionJobsTableName": "compression_jobs"
    }

  webui-server-settings.json: |
    {
      "SqlDbHost": "{{ include "clp.fullname" . }}-database",
      "SqlDbPort": 3306,
      "SqlDbName": {{ .Values.clpConfig.database.names.clp | quote }},
      "SqlDbQueryJobsTableName": "query_jobs",
      "SqlDbCompressionJobsTableName": "compression_jobs",
      "MongoDbHost": "{{ include "clp.fullname" . }}-results-cache",
      "MongoDbPort": 27017,
      "MongoDbName": {{ .Values.clpConfig.results_cache.db_name | quote }},
      "MongoDbSearchResultsMetadataCollectionName":
        {{ .Values.clpConfig.webui.results_metadata_collection_name | quote }},
      "MongoDbStreamFilesCollectionName":
        {{ .Values.clpConfig.results_cache.stream_collection_name | quote }},
      "ClientDir": "/opt/clp/var/www/webui/client",
      "LogViewerDir": "/opt/clp/var/www/webui/yscope-log-viewer",
      {{- if eq .Values.clpConfig.logs_input.type "fs" }}
      "LogsInputRootDir": "/mnt/logs",
      {{- else }}
      "LogsInputRootDir": null,
      {{- end }}
      {{- if eq .Values.clpConfig.stream_output.storage.type "s3" }}
      "StreamFilesDir": null,
      "StreamFilesS3Region": {{ .Values.clpConfig.stream_output.storage.s3_config.region_code | quote }},
      "StreamFilesS3PathPrefix": "{{ .Values.clpConfig.stream_output.storage.s3_config.bucket }}/{{ .Values.clpConfig.stream_output.storage.s3_config.key_prefix }}",
      {{- else }}
      "StreamFilesDir": "/var/data/streams",
      "StreamFilesS3Region": null,
      "StreamFilesS3PathPrefix": null,
      {{- end }}
      {{- if and (eq .Values.clpConfig.stream_output.storage.type "s3")
                 (eq .Values.clpConfig.stream_output.storage.s3_config.aws_authentication.type "profile") }}
      "StreamFilesS3Profile": {{ .Values.clpConfig.stream_output.storage.s3_config.aws_authentication.profile | quote }},
      {{- else }}
      "StreamFilesS3Profile": null,
      {{- end }}
      "StreamTargetUncompressedSize":
        {{ .Values.clpConfig.stream_output.target_uncompressed_size | int }},
      "ArchiveOutputCompressionLevel": {{ .Values.clpConfig.archive_output.compression_level }},
      "ArchiveOutputTargetArchiveSize":
        {{ .Values.clpConfig.archive_output.target_archive_size | int }},
      "ArchiveOutputTargetDictionariesSize":
        {{ .Values.clpConfig.archive_output.target_dictionaries_size | int }},
      "ArchiveOutputTargetEncodedFileSize":
        {{ .Values.clpConfig.archive_output.target_encoded_file_size | int }},
      "ArchiveOutputTargetSegmentSize":
        {{ .Values.clpConfig.archive_output.target_segment_size | int }},
      "ClpQueryEngine": {{ .Values.clpConfig.package.query_engine | quote }},
      "ClpStorageEngine": {{ .Values.clpConfig.package.storage_engine | quote }},
      "PrestoHost": null,
      "PrestoPort": null
    }
