.search-status-message {
  color: #ccc;
  font-size: 5rem;
  line-height: 1em;

  padding: 1rem 2rem;
  user-select: none;
}

.search-error {
  padding: 0.5rem;

  background-color: #ffc0c0;
  color: #8e0000;
  border-top: 1px solid #ca9b9b;
  border-bottom: 1px solid #ecb4b4;
}

.search-error-icon {
  margin-right: 0.5rem;
  vertical-align: middle;
}

.search-progress-bar {
  height: 4px !important;
}
