.search-filter {
  &-controls-drawer {
    background-color: #efefef;

    padding: 1rem 0 0.5rem 0;
    position: relative;

    width: 100%;
  }

  &-control-label {
    color: #666;
    width: 110px;
  }
}

.timestamp-picker {
  border: 1px solid rgb(206, 212, 218);
  border-radius: 0;

  font-size: 0.875rem;
  line-height: 1.5;

  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
}
