.queryBox {
  width: 100%;
  overflow: hidden;
  border-radius: var(--antd-border-radius);
  --antd-border-radius: 8px;
}

.progressWrapper {
  height: 0;
  position: relative;
  top: -10px;
  width: 100%;
}
