.maxResultsContainer {
    display: flex;
}

.maxResultsContainer :global(.ant-select) {
    min-width: 80px;
    max-width: 80px;
}

.maxResultsContainer :global(.ant-select-selector) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
