## A path containing any logs you which to compress. Must be reachable by all
## workers.
## - This path will be exposed inside the container, so symbolic links to files
##   outside this path will be ignored.
#input_logs_directory: "/"
#
## File containing credentials for services
#credentials_file_path: "etc/credentials.yml"
#
#package:
#  storage_engine: "clp"
#
#database:
#  type: "mariadb"  # "mariadb" or "mysql"
#  host: "localhost"
#  port: 3306
#  name: "clp-db"
#
#compression_scheduler:
#  jobs_poll_delay: 0.1  # seconds
#  logging_level: "INFO"
#
#search_scheduler:
#  jobs_poll_delay: 0.1  # seconds
#  logging_level: "INFO"
#
#queue:
#  host: "localhost"
#  port: 5672
#
#redis:
#  host: "localhost"
#  port: 6379
#  search_backend_database: 0
#
#results_cache:
#  host: "localhost"
#  port: 27017
#  db_name: "clp-search"
#
#compression_worker:
#  logging_level: "INFO"
#
#search_worker:
#  logging_level: "INFO"
#
## Where archives should be output to
#archive_output:
#  directory: "var/data/archives"
#
#  # How much data CLP should try to compress into each archive
#  target_archive_size: 268435456  # 256 MB
#
#  # How large the dictionaries should be allowed to get before the archive is
#  # closed and a new one is created
#  target_dictionaries_size: 33554432  # 32 MB
#
#  # How large each encoded file should be before being split into a new encoded
#  # file
#  target_encoded_file_size: 268435456  # 256 MB
#
#  # How much data CLP should try to fit into each segment within an archive
#  target_segment_size: 268435456  # 256 MB
#
## Location where other data (besides archives) are stored. It will be created if
## it doesn't exist.
#data_directory: "var/data"
#
## Location where logs are stored. It will be created if it doesn't exist.
#logs_directory: "var/log"
