name: "clp-package"

include: ["docker-compose.base.yaml"]

# The `x-*` definitions below are duplicated from docker-compose.base.yaml. Refer to that file for
# documentation.
x-service-defaults: &service_defaults
  image: "${CLP_PACKAGE_CONTAINER_IMAGE_REF:-clp-package}"
  logging:
    driver: "local"
  stop_grace_period: "60s"
  user: "${CLP_FIRST_PARTY_SERVICE_UID_GID:-1000:1000}"
x-healthcheck-defaults: &healthcheck_defaults
  interval: "30s"
  retries: 3
  start_interval: "2s"
  start_period: "60s"
  timeout: "2s"
x-volume-definitions:
  clp-config-readonly: &volume_clp_config_readonly
    type: "bind"
    source: "${CLP_LOGS_DIR_HOST:-./var/log}/.clp-config.yml"
    target: "/etc/clp-config.yml"
    read_only: true
  clp-logs: &volume_clp_logs
    type: "bind"
    source: "${CLP_LOGS_DIR_HOST:-./var/log}"
    target: "/var/log"

services:
  query-scheduler:
    <<: *service_defaults
    hostname: "query_scheduler"
    stop_grace_period: "10s"
    environment:
      BROKER_URL: "amqp://${CLP_QUEUE_USER:?Please set a value.}\
        :${CLP_QUEUE_PASS:?Please set a value.}@queue:5672"
      CLP_DB_PASS: "${CLP_DB_PASS:?Please set a value.}"
      CLP_DB_USER: "${CLP_DB_USER:?Please set a value.}"
      CLP_LOGGING_LEVEL: "${CLP_QUERY_SCHEDULER_LOGGING_LEVEL:-INFO}"
      CLP_LOGS_DIR: "/var/log/query_scheduler"
      PYTHONPATH: "/opt/clp/lib/python3/site-packages"
      RESULT_BACKEND: "redis://default:${CLP_REDIS_PASS:?Please set a value.}@redis:6379\
        /${CLP_REDIS_BACKEND_DB_QUERY:-0}"
    volumes:
      - *volume_clp_config_readonly
      - *volume_clp_logs
    depends_on:
      db-table-creator:
        condition: "service_completed_successfully"
      queue:
        condition: "service_healthy"
      redis:
        condition: "service_healthy"
    command: [
      "python3",
      "-u",
      "-m", "job_orchestration.scheduler.query.query_scheduler",
      "--config", "/etc/clp-config.yml"
    ]
    healthcheck:
      <<: *healthcheck_defaults
      test: [
        "CMD",
        "bash",
        "-c",
        "< /dev/tcp/query_scheduler/7000"
      ]

  query-worker:
    <<: *service_defaults
    hostname: "query_worker"
    environment:
      BROKER_URL: "amqp://${CLP_QUEUE_USER:?Please set a value.}\
        :${CLP_QUEUE_PASS:?Please set a value.}@queue:5672"
      CLP_CONFIG_PATH: "/etc/clp-config.yml"
      CLP_HOME: "/opt/clp"
      CLP_LOGGING_LEVEL: "${CLP_QUERY_WORKER_LOGGING_LEVEL:-INFO}"
      CLP_LOGS_DIR: "/var/log/query_worker"
      CLP_WORKER_LOG_PATH: "/var/log/query_worker/worker.log"
      PYTHONPATH: "/opt/clp/lib/python3/site-packages"
      RESULT_BACKEND: "redis://default:${CLP_REDIS_PASS:?Please set a value.}@redis:6379\
        /${CLP_REDIS_BACKEND_DB_QUERY:-0}"
    volumes:
      - *volume_clp_config_readonly
      - *volume_clp_logs
      - "${CLP_ARCHIVE_OUTPUT_DIR_HOST:-empty}:/var/data/archives"
      - "${CLP_AWS_CONFIG_DIR_HOST:-empty}:/.aws:ro"
      - "${CLP_STAGED_STREAM_OUTPUT_DIR_HOST:-empty}:/var/data/staged-streams"
      - "${CLP_STREAM_OUTPUT_DIR_HOST:-empty}:/var/data/streams"
    command: [
      "python3",
      "-u",
      "/opt/clp/lib/python3/site-packages/bin/celery",
      "-A", "job_orchestration.executor.query",
      "worker",
      "--concurrency", "${CLP_QUERY_WORKER_CONCURRENCY:-1}",
      "--loglevel", "WARNING",
      "-f", "/var/log/query_worker/worker.log",
      "-Q", "query",
      "-n", "query-worker"
    ]

  reducer:
    <<: *service_defaults
    hostname: "reducer"
    environment:
      CLP_HOME: "/opt/clp"
      CLP_LOGGING_LEVEL: "${CLP_REDUCER_LOGGING_LEVEL:-INFO}"
      CLP_LOGS_DIR: "/var/log/reducer"
      PYTHONPATH: "/opt/clp/lib/python3/site-packages"
    volumes:
      - *volume_clp_config_readonly
      - *volume_clp_logs
    depends_on:
      query-scheduler:
        condition: "service_healthy"
      results-cache-indices-creator:
        condition: "service_completed_successfully"
    command: [
      "python3", "-u",
      "-m", "job_orchestration.reducer.reducer",
      "--config", "/etc/clp-config.yml",
      "--concurrency", "${CLP_REDUCER_CONCURRENCY:-1}",
      "--upsert-interval", "${CLP_REDUCER_UPSERT_INTERVAL:-100}"
    ]
