name: "clp-package-spider-base"

include:
  - "docker-compose.utils.yaml"

services:
  database:
    extends:
      file: "docker-compose-all.yaml"
      service: "database"

  db-table-creator:
    extends:
      file: "docker-compose-all.yaml"
      service: "db-table-creator"

  spider-scheduler:
    extends:
      file: "docker-compose-all.yaml"
      service: "spider-scheduler"

  compression-scheduler:
    extends:
      file: "docker-compose-all.yaml"
      service: "compression-scheduler"
    # Override: Spider does NOT require `queue` or `redis`.
    depends_on:
      db-table-creator:
        condition: "service_completed_successfully"
    environment:
      SPIDER_DB_PASS: "${SPIDER_DB_PASS:?Please set a value.}"
      SPIDER_DB_USER: "${SPIDER_DB_USER:?Please set a value.}"

  compression-worker:
    extends:
      file: "docker-compose-all.yaml"
      service: "spider-compression-worker"

  webui:
    extends:
      file: "docker-compose-all.yaml"
      service: "webui"

  garbage-collector:
    extends:
      file: "docker-compose-all.yaml"
      service: "garbage-collector"

  log-ingestor:
    extends:
      file: "docker-compose-all.yaml"
      service: "log-ingestor"

  fluent-bit:
    extends:
      file: "docker-compose-all.yaml"
      service: "fluent-bit"
