.gradientButton {
    background-image: linear-gradient(135deg, #6253e1, #04befe);
    color: white;
    transition: background 0.3s;
    background-size: 200% auto;
}

.gradientButtonCancel {
    background-image: linear-gradient(135deg, #e15253, #08b990);
    color: red;
    transition: background 0.3s;
    background-size: 200% auto;
}
