.card {
    background-color: #1888fa;
    min-width: 300px;
}

.card :global(.ant-card-head) {
    border: 0px;
}

.cardContent {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    color: white;
    font-weight: 600;
}

.statistic {
    font-size: 80px;
    color: white;
}
