.ingestPageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* Limits dashboard to two columns */
    max-width: 1250px;
    padding: 20px;
    gap: 20px;
}

.jobs {
    grid-column: 1 / -1;
}
