.ingestPage {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    grid-template-rows: auto auto; /* Two rows: one for cards, one for the table */
    gap: 5px; /* Reduce gap between rows */
    align-items: start;
    padding: 20px;
}

.hello {
    font-size: 80px; /* Make the statistic text larger */
    color: white; /* Set the font color to white */
}

.SpaceCard {
    grid-column: 1 / 2; /* Span two-thirds of the first row */
    grid-row: 1 / 2; /* First row */
    background-color: #1888fa; /* Set the card background color */
    margin: 0; /* Ensure no extra margin */
}

.SpaceCard :global(.ant-card-head) {
    border-color: rgb(255, 255, 255);
    border-bottom: 0px solid #f0f0f0;
}

.SpaceCard :global(.ant-card-head-title) {
    color: rgb(255, 255, 255); /* Make the title font white */
    font-size: 24px; /* Increase the font size */
}

.tickLabel {
    font-size: 16px;
    font-weight: bold;
}

.barLabel {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle; /* Ensure text is centered */
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.DetailsCard {
    grid-column: 2 / 4; /* Span one-third of the first row */
    grid-row: 1 / 2; /* First row */
    background-color: #ffffff; /* Set the card background color */
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 0; /* Ensure no extra margin */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Align content vertically */
    justify-content: stretch; /* Stretch to match height */
    height: 100%; /* Match the height of the row */
}

.AdditionalCard {
    grid-column: 1 / 4; /* Span all three columns */
    grid-row: 2 / 3; /* Second row */
    background-color: #ffffff; /* Set the card background color */
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 0; /* Ensure no extra margin */
}

.tableContainer {
    grid-column: 1 / 4; /* Span all three columns */
    grid-row: 2 / 3; /* Second row */
    margin: 0; /* Ensure no extra margin */
    padding: 0; /* Ensure no extra padding */
}

.dataTable {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 0; /* Remove any margin */
}
