.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-auto-rows: 32px;
    gap: 5px;
}

.gridItem {
    grid-column: span 1;
    display: flex;
}

.timestampKey {
    width: 300px;
    display: flex;
}

.widthSelect {
    width: 0;
    flex-grow: 1;
}

.noLeftBorderRadiusSelect :global(.ant-select-selector) {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.noLeftBorderRadius {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
