.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 30px);
    max-width: 1250px;
    gap: 5px;
}

.select {
    grid-column: span 3;
    display: flex;
    min-width: 200px;
}

.from {
    grid-column: span 1;
    display: flex;
    min-width: 200px;
}

.where {
    grid-column: span 2;
    display: flex;
}

.order {
    grid-column: span 1;
    display: flex;
}

.limit {
    grid-column: span 1;
    display: flex;
}