.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 32px;
    gap: 5px;
}

.select {
    grid-column: span 2;
    display: flex;
}

.from {
    grid-column: span 1;
    display: flex;
}

.where {
    grid-column: span 2;
    display: flex;
}

.order {
    grid-column: span 1;
    display: flex;
}

.limit {
    grid-column: span 1;
    display: flex;
}

.timestampKey {
    grid-column: span 1;
    display: flex;
}

.widthSelect {
    width: 100%;
}

.noLeftBorderRadiusSelect :global(.ant-select-selector) {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.noLeftBorderRadius {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
