[submodule "submodules/Catch2"]
	path = submodules/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "submodules/date"]
	path = submodules/date
	url = https://github.com/HowardHinnant/date.git
[submodule "submodules/yaml-cpp"]
	path = submodules/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json.git
