.datasetContainer {
    display: flex;
}

.selectContainer {
    min-width: 108px;
}

.selectContainerExpanded {
    width: 200px;
}

.select {
    width: 100%;
}

.select :global(.ant-select-selector) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
