[package]
name = "log-ingestor"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
async-trait = "0.1.89"
clp-rust-utils = { path = "../clp-rust-utils" }
tokio = { version = "1", features = ["rt-multi-thread", "macros", "time"] }
tokio-util = "0.7.17"
