name: "clp-execution-image-build"

on:
  pull_request:
    paths:
      - ".github/actions/clp-build-runtime-image/action.yaml"
      - ".github/workflows/clp-execution-image-build.yaml"
      - "tools/docker-images/**/*"
  push:
    paths:
      - ".github/actions/clp-build-runtime-image/action.yaml"
      - ".github/workflows/clp-execution-image-build.yaml"
      - "tools/docker-images/**/*"
  schedule:
    # Run daily at 00:15 UTC (the 15 is to avoid periods of high load)
    - cron: "15 0 * * *"
  workflow_dispatch:

concurrency:
  group: "${{github.workflow}}-${{github.ref}}"
  # Cancel in-progress jobs for efficiency
  cancel-in-progress: true

jobs:
  filter-relevant-changes:
    name: "filter-relevant-changes"
    runs-on: "ubuntu-24.04"
    outputs:
      ubuntu_jammy_image_changed: "${{steps.filter.outputs.ubuntu_jammy_image}}"
    steps:
      - uses: "actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683"
        with:
          submodules: "recursive"

      - name: "Work around actions/runner-images/issues/6775"
        run: "chown $(id -u):$(id -g) -R ."
        shell: "bash"

      - name: "Filter relevant changes"
        uses: "dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36"
        id: "filter"
        with:
          base: "main"
          filters: |
            ubuntu_jammy_image:
              - ".github/actions/clp-execution-image-build/action.yaml"
              - ".github/workflows/clp-execution-image-build.yaml"
              - "tools/docker-images/clp-execution-base-ubuntu-jammy/**/*"

  ubuntu-jammy-execution-image:
    name: "ubuntu-jammy-execution-image"
    if: "'true' == needs.filter-relevant-changes.outputs.ubuntu_jammy_image_changed"
    needs: "filter-relevant-changes"
    runs-on: "ubuntu-24.04"
    steps:
      - uses: "actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683"
        with:
          submodules: "recursive"

      - name: "Workaround actions/runner-images/issues/6775"
        shell: "bash"
        run: "chown $(id -u):$(id -g) -R ."

      - uses: "./.github/actions/clp-image-build"
        with:
          image_type: "execution"
          image_registry: "ghcr.io"
          image_registry_username: "${{github.actor}}"
          image_registry_password: "${{secrets.GITHUB_TOKEN}}"
          platform_id: "ubuntu"
          platform_version_id: "jammy"
