name: "clp-lint"

on:
  pull_request:
  push:
  schedule:
    # Run at midnight UTC every day with 15 minutes delay added to avoid high load periods
    - cron: "15 0 * * *"
  workflow_dispatch:

concurrency:
  group: "${{github.workflow}}-${{github.ref}}"
  # Cancel in-progress jobs for efficiency
  cancel-in-progress: true

jobs:
  lint-check:
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-latest"]
    runs-on: "${{matrix.os}}"
    steps:
      - uses: "actions/checkout@v4"
        with:
          submodules: "recursive"

      - uses: "actions/setup-python@v5"
        with:
          python-version: "3.11"

      - name: "Install task"
        shell: "bash"
        run: "npm install -g @go-task/cli"

      - if: "matrix.os == 'macos-latest'"
        name: "Install coreutils (for md5sum)"
        run: "brew install coreutils"

      - run: "./tools/scripts/init.sh"
        shell: "bash"

      - name: "Run lint task"
        shell: "bash"
        run: "task lint:check"
