name: "clp-core-build-macos"

on:
  pull_request:
    paths:
      - ".github/workflows/clp-core-build-macos.yaml"
      - ".gitmodules"
      - "components/core/**"
      - "deps-tasks.yml"
      - "Taskfile.yml"
      - "tools/scripts/deps-download/**"
      - "!components/core/tools/scripts/docker-images/*-centos-*/**"
      - "!components/core/tools/scripts/docker-images/*-ubuntu-*/**"
      - "!components/core/tools/scripts/lib_install/centos-*/**"
      - "!components/core/tools/scripts/lib_install/ubuntu-*/**"
  push:
    paths:
      - ".github/workflows/clp-core-build-macos.yaml"
      - ".gitmodules"
      - "components/core/**"
      - "deps-tasks.yml"
      - "Taskfile.yml"
      - "tools/scripts/deps-download/**"
      - "!components/core/tools/scripts/docker-images/*-centos-*/**"
      - "!components/core/tools/scripts/docker-images/*-ubuntu-*/**"
      - "!components/core/tools/scripts/lib_install/centos-*/**"
      - "!components/core/tools/scripts/lib_install/ubuntu-*/**"
  schedule:
    # Run daily at 00:15 UTC (the 15 is to avoid periods of high load)
    - cron: "15 0 * * *"
  workflow_dispatch:

concurrency:
  group: "${{github.workflow}}-${{github.ref}}"
  # Cancel in-progress jobs for efficiency
  cancel-in-progress: true

jobs:
  build-macos:
    strategy:
      matrix:
        runner: ["macos-13", "macos-14"]
        use_shared_libs: [true, false]
    runs-on: "${{matrix.runner}}"
    steps:
      - uses: "actions/checkout@v4"
        with:
          fetch-depth: 0
          submodules: "recursive"

      # See https://github.com/actions/setup-python/issues/577
      - name: "Remove preinstalled binaries which conflict with brew's installs"
        run: |
          rm -f /usr/local/bin/2to3*
          rm -f /usr/local/bin/go*
          rm -f /usr/local/bin/idle3*
          rm -f /usr/local/bin/pydoc3*
          rm -f /usr/local/bin/python3*

      - name: "Install dependencies"
        run: "./components/core/tools/scripts/lib_install/macos/install-all.sh"

      - run: "./tools/scripts/deps-download/init.sh"
        shell: "bash"

      - run: "task deps:core"
        shell: "bash"

      - name: "Build CLP-core and run unit tests"
        shell: "bash"
        working-directory: "./components/core"
        # NOTE: We omit the Stopwatch tests since GH's macOS runner is too slow
        run: >-
          python3 ./tools/scripts/utils/build-and-run-unit-tests.py
          ${{matrix.use_shared_libs == true && '--use-shared-libs' || ''}}
          --source-dir .
          --build-dir build
          --num-jobs $(getconf _NPROCESSORS_ONLN)
          --test-spec "~[Stopwatch]"

      # When enough files are passing clang-tidy switch to a full pass on schedule only.
      # - run: >-
      #     task lint:check-cpp-${{(github.event_name == 'schedule') && 'full' || 'diff'}}
      - run: "task lint:check-cpp-full"
        shell: "bash"
