name: "clp-s-generated-code-checks"

on:
  pull_request:
  push:
  workflow_dispatch:

concurrency:
  group: "${{github.workflow}}-${{github.ref}}"
  # Cancel in-progress jobs for efficiency
  cancel-in-progress: true

jobs:
  antlr-code-committed:
    name: "antlr-code-committed"
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-latest"]
    runs-on: "${{matrix.os}}"
    steps:
      - uses: "actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683"
        with:
          submodules: "recursive"

      - name: "Install task"
        shell: "bash"
        run: "npm install -g @go-task/cli"

      - if: "matrix.os == 'macos-latest'"
        name: "Install coreutils (for md5sum)"
        run: "brew install coreutils"

      - name: "Check if the generated parsers are the latest"
        shell: "bash"
        run:
          |
          git status --porcelain \
            components/core/src/clp_s/search/kql/generated \
            components/core/src/clp_s/search/sql/generated \
            | grep . > /dev/null \
              && exit 1 \
              || exit 0
