name: "clp-core-build-macos"

on:
  pull_request:
    paths:
      - ".github/workflows/clp-core-build-macos.yaml"
      - "components/core/cmake/**"
      - "components/core/CMakeLists.txt"
      - "components/core/src/**"
      - "components/core/tests/**"
      - "components/core/tools/scripts/lib_install/macos-12/**"
      - "components/core/tools/scripts/deps-download/**"
      - "components/core/tools/scripts/utils/build-and-run-unit-tests.py"
      - "deps-tasks.yml"
      - "Taskfile.yml"
      - "tools/scripts/deps-download/**"
  push:
    paths:
      - ".github/workflows/clp-core-build-macos.yaml"
      - "components/core/cmake/**"
      - "components/core/CMakeLists.txt"
      - "components/core/src/**"
      - "components/core/tests/**"
      - "components/core/tools/scripts/lib_install/macos-12/**"
      - "components/core/tools/scripts/deps-download/**"
      - "components/core/tools/scripts/utils/build-and-run-unit-tests.py"
      - "deps-tasks.yml"
      - "Taskfile.yml"
      - "tools/scripts/deps-download/**"
  workflow_dispatch:

concurrency:
  group: "${{github.workflow}}-${{github.ref}}"
  # Cancel in-progress jobs for efficiency
  cancel-in-progress: true

jobs:
  build-macos:
    strategy:
      matrix:
        build_flags: ["--use-shared-libs", ""]
    runs-on: "macos-12"
    steps:
      - uses: "actions/checkout@v4"
        with:
          submodules: "recursive"

      # See https://github.com/actions/setup-python/issues/577
      - name: "Remove preinstalled binaries which conflict with brew's installs"
        run: |
          rm -f /usr/local/bin/2to3*
          rm -f /usr/local/bin/idle3*
          rm -f /usr/local/bin/pydoc3*
          rm -f /usr/local/bin/python3*

      - name: "Install dependencies"
        run: "./components/core/tools/scripts/lib_install/macos-12/install-all.sh"

      - run: "./tools/scripts/deps-download/init.sh"
        shell: "bash"

      - run: "task deps:core"
        shell: "bash"

      - name: "Build CLP-core and run unit tests"
        shell: "bash"
        working-directory: "./components/core"
        # NOTE: We omit the Stopwatch tests since GH's macOS runner is too slow
        run: >-
          python3 ./tools/scripts/utils/build-and-run-unit-tests.py
          --source-dir .
          --build-dir build
          ${{matrix.build_flags}}
          --test-spec ~[Stopwatch]
