name: "clp-lint"

on:
  pull_request:
  push:
  schedule:
    # Run daily at 00:15 UTC (the 15 is to avoid periods of high load)
    - cron: "15 0 * * *"
  workflow_dispatch:

concurrency:
  group: "${{github.workflow}}-${{github.ref}}"
  # Cancel in-progress jobs for efficiency
  cancel-in-progress: true

jobs:
  lint-check:
    name: "lint-check"
    strategy:
      matrix:
        os:
          - "macos-15"
          - "ubuntu-24.04"
    runs-on: "${{matrix.os}}"
    steps:
      - uses: "actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683"
        with:
          submodules: "recursive"

      - uses: "actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38"
        with:
          python-version: "3.11"

      - name: "Install task"
        shell: "bash"
        run: "npm install -g @go-task/cli@3.44.0"

      - name: "Install uv"
        shell: "bash"
        run: "curl --fail --location --silent --show-error https://astral.sh/uv/install.sh | sh"

      - if: "matrix.os == 'macos-15'"
        name: "Install coreutils (for md5sum)"
        run: "brew install coreutils"

      - if: "matrix.os == 'ubuntu-24.04'"
        name: "Install mariadb-connecter-c on ubuntu (for py lint)"
        run: "sudo apt-get install -y libmariadb-dev"

      - if: "matrix.os == 'macos-15'"
        name: "Install mariadb-connecter-c on macos (for py lint)"
        run: |
          brew install mariadb-connector-c
          PREFIX="$(brew --prefix mariadb-connector-c)"
          echo "MARIADB_CONFIG=$PREFIX/bin/mariadb_config" >> "$GITHUB_ENV"

      - name: "Lint .js files"
        shell: "bash"
        run: "task lint:check-js"

      - name: "Lint .py files"
        shell: "bash"
        run: "task lint:check-py"

      - name: "Lint .yaml files"
        shell: "bash"
        run: "task lint:check-yaml"
